footer {
	background: $brown;
	color: $white;
	padding: 0 0 50px 0;

	.hrg {
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		padding: 60px 0 0 0;

		h4 {
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 0.1em;
			font-size: 0.75em;
			line-height: 1.5em;
			text-align: center;
			font-family: $brandon;

			@include tablet-portrait {
				line-height: 1em;
				padding: 0 0 20px 0;

				br {
					display: none;
				}
			}

			a {
				color: $white;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.hrg-wrapper {

			.row {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;

				@include tablet-portrait {
					padding: 15px 0;
				}

				@include tablet-landscape {
					max-width: 80%;
					margin: 0 auto;
				}
			}

			.logo {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 25px 0;

				@include tablet-portrait {
					width: auto;
					padding: 0;

					& + .logo {
						&:before {
							content: "·";
							display: block;
							padding: 0 10px;
							font-weight: 900;
							font-size: 1.5em;
						}
					}
				}

				a {
					font-family: $brandon;
					color: $white;
					text-transform: uppercase;
					text-align: center;
					font-weight: bold;
					letter-spacing: 0.1em;
					font-size: 0.8125em;

					&:hover {
						text-decoration: underline;
					}
				}




			}
		}
	}

}