header {
	border-top: 20px solid $brown;
	padding: 50px 0;

	@include mobile-landscape {
		padding: 100px 0 50px 0;
	}

	.logo {
		max-width: 250px;
		margin: 0 auto;

		@include mobile-landscape {
			max-width: 350px;
		}
	}

}
