body.home {

	section#about-statement {
		padding: 0 0 50px 0;
		text-align: center;
		
		@include tablet-portrait {
			padding: 0 0 100px 0;
		}

		.wrapper {
			max-width: 960px;
		}

		p {
			text-align: center;
			font-size: 1.125em;
			line-height: 1.5em;
			color: $slate;

			@include tablet-portrait {
				font-size: 1.375em;
			}
		}

		h3 {
			font-weight: 900;
			font-size: 1.5em;
			padding: 50px 0 0 0;
		}
	}


	section#fare {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-bottom: 10px;

		@include tablet-portrait {
			padding-bottom: 5px;
		}

		& > section {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: center;

			& + section {
				margin-top: 10px;

				@include tablet-portrait {
					margin-top: 0;
				}
			}

			a {
				display: block;
				width: 100%;

				img {
					width: 100%;
				}
			}


			@include tablet-portrait {
				width: calc(50% - 2.5px);
			}

		}

	}

	section#contact {
		padding: 50px 0;
		background: $brown;
		color: $white;
		margin: 0;
		
		@include tablet-portrait {
			padding: 100px 0 50px 0;
		}

		a {
			color: $white;

			&:hover {
				text-decoration: underline;
			}
		}

		h2 {
			text-align: center;
			font-weight: 900;
			padding: 0 0 50px 0;
		}

		.contact-options {
			max-width: 960px;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			border: 1px solid $white;

			.option {
				width: 100%;
				min-height: 50px;
				padding: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-bottom: 1px solid $white;

				@include tablet-landscape {
					border-right: 1px solid $white;
					border-bottom: none;
					width: 33.3333%;
				}


				&:last-of-type {
					border-bottom: none;

					@include tablet-landscape {
						border-right: none;
						border-bottom: none;
					}


				}

				.info {
					text-align: center;

					h4 {
						font-weight: 700;
						text-transform: uppercase;
						font-size: 0.9375em;
						letter-spacing: 0.1em;
						padding: 0 0 20px 0;

						&:before {
							background-size: 100%;
							width: 24px;
							height: 24px;	
							content: ' ';
							display: block;
							margin: 0 auto 20px auto;
						}	
					}

					p {
						font-size: 1em;

						@include mobile-landscape {
							font-size: 1.25em;
						}

						@include tablet-portrait {
							font-size: 1em;
						}

						@include tablet-landscape {
							font-size: 1.25em;
						}
					}
				}
			}


			.menu {
				h4:before {
					background: url(images/menu.svg) no-repeat 0 0;
				}

				p {
					font-size: 1em !important;

					& + p {
						padding: 15px 0 0 0;
					}
				}
			}


			.phone {
				h4:before {
					background: url(images/phone.svg) no-repeat 0 0;
				}
			}

			.email {
				h4:before {
					background: url(images/email.svg) no-repeat 0 0;
				}

				p {
					font-size: 1em !important;;
				}
			}

		}

		.contact-statement {
			padding: 50px 0 0 0;
			text-align: center;
			max-width: 960px;
			margin: 0 auto;

			p {
				font-size: 1.25em;
				line-height: 1.5em;

				& + p {
					padding: 25px 0 0 0;
				}
			}

		}

	}

}