html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $schoolbook;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $averta;
	font-weight: normal;
}

p {

}

a {
	color: $slate;
	transition: all 0.2s ease-in-out;
}

.btn {
	padding: 12px 20px 10px;
	font-size: 1.125em;
	line-height: 1em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	display: inline-block;
	font-family: $averta;
	font-weight: 900;
	border: 1px solid $slate;
	background: $slate;
	color: $white;

	&:hover {
		background: $slate;
		color: $white;
	}
}